.badge {
    font-size: 12px;
    font-weight: 900;
    padding: 2px 5px;
    border-radius: 5px;
}

.badge-owner {
    background: rgb(121, 0, 0);
}

.badge-media {
    background: rgb(197, 184, 0);
    color: black;
}

.badge-dev {
    background: rgb(112, 0, 134);
}

.badge-helper {
    background: rgb(0, 62, 134);
}

.badge-admin {
    background: rgb(168, 27, 27);
}

.badge-mod {
    background: rgb(0, 116, 10);
}

.badge-jr_helper {
    background: rgb(0, 89, 124);
}

.badge-builder {
    background: rgb(0, 59, 15);
}

.badge-player {
    background: rgb(54, 54, 54);
}